<a href="/productPage/{{this.id}}" id="pro" class="col">
  <div class="card" id="proCard">
    {{! filler img }}
    <img src="{{this.image}}" class="proCardImg" alt="{{this.name}}" />
    <div class="card-body">
      <h3>{{this.name}}</h3>
      <p class="card-text">${{price}}</p>
    </div>
  </div>
</a>