
<a href="/productPage/{{id}}" id="pro" class="col">
  <div class="card" id="proCard">
    {{! filler img }}
    <img src="{{image}}" class="proCardImg" alt="{{name}}" />
    <div class="card-body">
      <h3>{{name}}</h3>
      <p class="card-text">${{price}}</p>
    </div>
  </div>
</a>