
{{!-- featured Data --}}
<div id="featuredData">
    <h2>Featured Products</h2>
    <div id="fPcontainer">
        <div class="card" style="width: 18rem;">
  <img src="{{product.[0].img}}" class="card-img-top" alt="{{product.[0].name}}">
  <div class="card-body">
    <h3>{{product.[0].name}}</h3>
    <p class="card-text">{{product_desorption}}</p>
  </div>
</div>
    <div id="fPcontainer">
        <div class="card" style="width: 18rem;">
  <img src="{{product.[0].img}}" class="card-img-top" alt="{{product.[0].name}}">
  <div class="card-body">
    <h3>{{product.[0].name}}</h3>
    <p class="card-text">{{product_desorption}}</p>
  </div>
</div>
    <div id="fPcontainer">
        <div class="card" style="width: 18rem;">
  <img src="{{product.[0].img}}" class="card-img-top" alt="{{product.[0].name}}">
  <div class="card-body">
    <h3>{{product.[0].name}}</h3>
    <p class="card-text">{{product_desorption}}</p>
  </div>
</div>
    <div id="fPcontainer">
        <div class="card" style="width: 18rem;">
  <img src="{{product.[0].img}}" class="card-img-top" alt="{{product.[0].name}}">
  <div class="card-body">
    <h3>{{product.[0].name}}</h3>
    <p class="card-text">{{product_desorption}}</p>
  </div>
</div>
    <div id="fPcontainer">
        <div class="card" style="width: 18rem;">
  <img src="{{product.[0].img}}" class="card-img-top" alt="{{product.[0].name}}">
  <div class="card-body">
    <h3>{{product.[0].name}}</h3>
    <p class="card-text">{{product_desorption}}</p>
  </div>
</div>
    <div id="fPcontainer">
        <div class="card" style="width: 18rem;">
  <img src="{{product.[0].img}}" class="card-img-top" alt="{{product.[0].name}}">
  <div class="card-body">
    <h3>{{product.[0].name}}</h3>
    <p class="card-text">{{product_desorption}}</p>
  </div>
</div>
    <div id="fPcontainer">
        <div class="card" style="width: 18rem;">
  <img src="{{product.[0].img}}" class="card-img-top" alt="{{product.[0].name}}">
  <div class="card-body">
    <h3>{{product.[0].name}}</h3>
    <p class="card-text">{{product_desorption}}</p>
  </div>
</div>
    </div>
</div>
{{!-- Shop by catagory  --}}
