<h1 class="ms-5 mt-3">{{product.name}}</h1>
<input type="hidden" value="{{product.id}}" id="product-id" />

<h2 class="ms-5">{{product.short_desc}}</h2>

<div class="d-flex justify-content-start">
  <h4 class="ms-5">Review</h4>

  <div class="ms-3">
    {{rating}}
  </div>
</div>
<div class="d-flex justify-content-center">
  <div id="mainImgCas">
    <img
      id="mainProImg"
      src="{{product.image}}"
      class="figure-img img-fluid rounded"
      alt="..."
    />

  </div>
</div>
<div class="m-5">
  <h2 class="my-3">Price: ${{product.price}}</h2>
  <h3 class="my-3">Color Options</h3>
  <h3 class="my-3">Size Options</h3>

  <div class="my-3 d-flex aline-content-center justify-content-start">
    <h3>Quantity</h3>
    <div class="wrapper align-self-center">
      <span class="minus">-</span>
      <span class="num">01</span>
      <span class="plus">+</span>
    </div>
  </div>
</div>

<div class="wrap d-flex flex-column align-items-center text-aline-center">
  <button id="addcartbtn" class="proPageButton text-center"><span>Add to Cart</span></button>
  <a href="/allProducts" class="proPageButton text-center"><span>Continue
      Shopping</span></a>
</div>

<div class="mx-5">
  <h3>{{product.name}}</h3>
  <p>{{product.long_desc}}</p>
</div>

<div class="mx-5 mt-5">
  <h2>Reviews</h2>
  {{#each review as |reviews|}}
        {{> reviews}}
        {{/each}}
</div>
<div class="text-center my-5">
  <h2>Related Products</h2>
  <div class="mt-5 d-flex row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 g-lg-4">
     {{#each similar as |products |}}
        {{> simProducts}}
        {{/each}}
  </div>
</div>
<script src="/js/cart.js"></script>
<script src="/js/quantityButton.js"></script>